/* static/styles.css */
/* Gerais */
body {
    font-family: "Inter", sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p, li {
    color: #0000;
    font-size: 16px;
}

/* Login e Cadastro */

.page-login {
    height: 100vh;
    position: relative;
}

.title-site {
    margin-top: 24px;
    margin-left: 24px;
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

h3 {
    font-size: 16px;
    font-weight: 600;
}

input {
    width: 400px;
    height: 40px;
    border-width: 1px;
    border-color: #E0E0E0;
    padding: 5px;
}

.container-login {
    width: 100vw;
    height: 375px;  
    margin-top: 220px;
}

.container-cadastro {
    width: 100vw;
    height: 375px;  
    margin-top: 80px;
}

.container-login div, .container-cadastro div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.span-email, .span-senha, .span-cpf, .span-nome {
    width: 400px;
    text-align: left;
    margin-top: 24px;
    margin-bottom: 24px;
}

div .decisao-cliente-servidor {
    display: flex;
    flex-direction: row !important;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 32px;
    margin-top: 24px;
}

.button-login, .button-cadastro {
    margin-top: 24px;
    margin-bottom: 24px;
    border-radius: 8px;
    border-color: #F99706;
    color: #ffff;
    background-color: #F99706;
    width: 242px;
    height: 40px;
}

.button-decisao {
    border-radius: 8px;
    border-color: #F99706;
    color: #ffff;
    background-color: #F99706;
    width: 90px;
    height: 32px;
}

.divider::after, .divider::before {
    background-color: #E6E6E6;
    content: '';
    height: 1px;
    margin: 0 1em;
    width: 92px;
}

.divider {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    font-weight: normal;
    color: #828282;
}

.divider a {
    color: #F99706 !important;
    text-decoration: underline;
    margin-left: 10px;
}

/* Side bar */
.sidebar {
    height: 100vh;
    width: 256px;
}

.sidebar .sidebar-componente {
    background-color: #ffff;
    height: 100vh;
    width: 256px;
    display: flex;
    flex-direction: column;
    border-right: #E0E0E0;
    border-style: solid;
    border-right-width: 1px;
}

.sidebar .div-sidebar {
    margin-top: 24px;
}

.sidebar .div-button-sidebar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sidebar .button-sidebar-servicos, .sidebar .button-sidebar-agenda {
    height: 40px;
    width: 240px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 8px;
}

.sidebar .sidebar-icone {
    height: 24px;
    width: 24px;
    margin-right: 16px;
}

/* Home do Servidor */
.page-home {
    display: flex;
    flex-direction: row;
}
.page-home-servidor {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.page-home-servidor .page-home-titulo {
    height: 134px;
}

.page-home-servidor .page-home-titulo p {
    font-weight: 600;
    font-size: 20px;
    margin-left: 64px;
    margin-top: 24px;
}

.page-home-servidor .lista-serviços-servidor p {
    font-weight: 500;
    font-size: 16px;
}

.lista-serviços-servidor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-serviço-servidor {
    width: 1060px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: #E0E0E0;
    border-style: solid;
    border-bottom-width: 1px;
}

.card-serviço-servidor .button-excluir {
    border-radius: 8px;
    border-color: #F99706;
    color: #ffff;
    background-color: #F99706;
    width: 100px;
    height: 26px;
}

.page-home-servidor .div-novoServico {
    margin-top: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-home-servidor .titulo-div-novoServico {
    width: 1060px;
    align-items: start;
}

.page-home-servidor .div-novoServico p {
    font-size: 16px;
    font-weight: bold;
}

.div-novoServico .inserir-novoServico {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    justify-content: space-around;
    align-items: center;
}

.div-novoServico .inserir-novoServico input {
    margin-left: 24px;
    margin-right: 24px;
}

.div-novoServico .button-inserir {
    border-radius: 8px;
    border-color: #F99706;
    color: #ffff;
    background-color: #F99706;
    width: 139px;
    height: 40px;
}