<!-- templates/header.html -->
<!DOCTYPE html>

<html lang="pt-br">

  <head>
    <meta charset="UTF-8">
    <title>{% block title %}ECO921{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Python -->
    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
    
    <!-- Fonte -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

    <!-- Estilo -->
    <link rel="stylesheet" href="./pyscript.css" />
    <link rel="stylesheet" type="text/css" href="static/style.css">
    
  </head>

  <body>
    {% block content %}{% endblock %}
  </body>

</html>