{% extends 'header.html' %}
{% block title %}OMEGA - Home{% endblock %}

{% block content %}
  <div class="page-home">
    <div class="sidebar">{% include 'sidebar.html' %}</div>
    <div class="page-home-servidor">
        <div class="page-home-titulo">
          <p style="color: black">Lista de Serviços</p>
        </div>
        <div class="lista-serviços-servidor">
          <!-- Fazer um for aqui -->
          <div class="card-serviço-servidor">
            <p class="nome-servico" style="color: black">Teste</p>
            <button class="button-excluir">Excuir</button>
          </div>
          <div class="card-serviço-servidor">
            <p class="nome-servico" style="color: black">Mais testes</p>
            <button class="button-excluir">Excuir</button>
          </div>
          <div class="card-serviço-servidor">
            <p class="nome-servico" style="color: black">Outro teste pra vcs</p>
            <button class="button-excluir">Excuir</button>
          </div>
        </div>
        <div class="div-novoServico">
          <div class="titulo-div-novoServico">
            <p style="color: black">Oferecer novo serviço</p>
          </div>
          <div class="inserir-novoServico">
            <span class="span-novoServico"><p style="color: black; font-weight: normal">Nome do serviço</p></span>
            <input type="text" class="" id="novoServico-input" name="novoServico" placeholder="">
            <button class="button-inserir">Adicionar</button>
          </div>
        </div>
    </div>
  </div>

  <script src=""></script>
{% endblock %}