{% extends 'header.html' %}
{% block title %}Página Login{% endblock %}

{% block content %}
  <div class="page-login">
      <div class="title-site"><h1>NOME DO SITE</h1></div>
      <div class="container-login">
          <div><h2>Login</h2></div>
          <div>
              <span class="span-email"><h3>E-mail:</h3></span>
              <input type="email" class="" id="email-input" name="email" placeholder="nome@gmail.com">
              <span class="span-senha"><h3>Senha:</h3></span>
              <input type="password" class="" id="password-input" name="password" placeholder="****">
              <button class="button-login">Login</button>
          </div>
          <div class="divider">Ou cadastre-se: <a href="/cadastro" >Cadastro</a></div>
      </div>
  </div>
  

  <script src=""></script>
{% endblock %}
