<div class="sidebar-componente">
    <div class="title-site"><h1>NOME DO SITE</h1></div>
    <div class="div-sidebar">
        <div class="div-button-sidebar"><button class="button-sidebar-servicos">
            <span class="material-symbols-outlined sidebar-icone">search</span>
            <div><span>Serviços</span></div>
        </button></div>
        <div class="div-button-sidebar"><button class="button-sidebar-agenda">
            <span class="material-symbols-outlined sidebar-icone">calendar_month</span>
            <div><span>Agenda</span></div>
        </button></div>
    </div>
</div>

